.tab-pane .tab
{
    -fx-background-color: #ffd55a;
}
.tab-pane .tab:selected
{
    -fx-background-color: #293245;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #293245;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #ffd55a;
}